﻿@model MentorMe.App.Controllers.FeedbackModel

<div id="feedbackForm" class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
    </div>

    <div class="mdl-cell mdl-cell--4-col">
        <div class="form-group text-center">
            @using (Html.BeginForm("Register", "Profile", FormMethod.Post))
            {
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="Email" name="Email">
                        <label class="mdl-textfield__label" for="Email">Your email address</label>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <input class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" value="Go"/>
                </div>
            }
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
    </div>
</div>