﻿@model MentorMe.App.Controllers.Profile

<div id="feedbackForm" class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
    </div>

    <div class="mdl-cell mdl-cell--8-col">

        @Html.Partial("Partial/Identity", Model)
        <br/>
        @Html.Partial("Partial/Badges")
        <br/>
        @Html.Partial("Partial/MenteeChallenges")
        <br/>
        @Html.Partial("Partial/RequestForMentorship")
        <br/>
        @Html.Partial("Partial/Mentees")
        <br/>
        @Html.Partial("Partial/Mentors")

    </div>

    <div class="mdl-cell mdl-cell--2-col">
        @Html.Partial("Partial/Reputation", Model)
    </div>
</div>

<script>
    $(document).ready(function() {
        sessionStorage["ProfileId"] = @Html.Raw(Json.Encode(Model.ProfileId));
        sessionStorage["ProfileEmail"] = @Html.Raw(Json.Encode(Model.ProfileEmail));
    });
</script>