﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MentorMe</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-indigo.min.css"/>
    <link href="~/Content/mdl-selectfield.min.css" rel="stylesheet"/>
    <link href="~/Content/mdl-selectfield.css" rel="stylesheet"/>
    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/Scripts/qrcode.min.js"></script>
    <script src="~/Scripts/mdl-selectfield.js"></script>
    <link href="~/Content/mdl-chips-input.css" rel="stylesheet"/>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">MentorMe</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                @{
                    var profileId = Session["CurrentProfileId"];

                    if (!string.IsNullOrEmpty(profileId?.ToString()))
                    {
                        @Html.ActionLink(Session["CurrentProfileEmail"].ToString().Substring(0, 1), "Index", "Profile", new { }, new { @class = "mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored", style= "padding-top:6px;text-decoration:none"})
                    }
                }
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/mentorme-app/findmentor"> Find a mentor </a>
            <a class="mdl-navigation__link" href="/mentorme-app/createchallenge"> Create challenge </a>
            <a class="mdl-navigation__link" href="/mentorme-app/events"> Events </a>
            <a class="mdl-navigation__link" href="/mentorme-app/events/feed"> Events Feed </a>
            <a class="mdl-navigation__link" href="/mentorme-app/events/dashboard"> Events Dashboard </a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <!-- Your content goes here -->
            @RenderBody()
        </div>
    </main>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>