﻿.mdl-chipfield {
    cursor: text;
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgrey; }
.mdl-chipfield .inputs {
    margin-left: 5px;
    float: left;
    position: relative; }
.mdl-chipfield .mdl-chip {
    float: left;
    margin-right: 5px; }
.mdl-chipfield .mdl-textfield__input {
    height: 38px;
    border-bottom: none; }
.mdl-chipfield .mdl-textfield__label {
    top: 8px; }
.mdl-chipfield:after {
    /* TODO: without integration into MDL this has to be changed to your primary color */
    background-color: #009688;
    bottom: -1px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px; }
.mdl-chipfield.is-focused:after {
    visibility: visible;
    left: 0;
    width: 100%; }
.mdl-chipfield .mdl-textfield__label:after {
    display: none; }
.mdl-chipfield .results {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    padding: 0;
    margin-top: 1px; }
.mdl-chipfield .results li {
    cursor: pointer;
    padding: 10px 5px 10px 10px; }
.mdl-chipfield .results li:hover, .mdl-chipfield .results li.is-selected {
    background-color: #eeeeee; }

/*# sourceMappingURL=mdl-chips-input.css.map */