﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

label > input:checked + span {
    background-color: #696969;
    color: #FFFFFF;
}

label > input {
    display: none;
}

input, select, textarea {
    max-width: 100%;
}

.checkbox {
    display: inline-block;
    width: 80px;
    height: 80px;
    cursor: pointer;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #696969;
}

.feedback-textarea {
    margin-top: 30px !important
}

.buttonHandHover:hover {
    cursor: pointer;
}