﻿<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background-color: gray;color: white;">
        <h2 class="mdl-card__title-text">Event list</h2>
    </div>
        <div class="mdl-card__supporting-text">
            <ul class="events-list mdl-list">
               
            </ul>
        </div>
</div>
<dialog class="mdl-dialog" id="qr-container">
    
</dialog>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "http://mentor-me.azurewebsites.net/event/presenter/" + sessionStorage["ProfileId"],
        }).done(function(data) {
            document.getElementsByClassName('events-list').innerHTML = "";
            console.log(data);
            var resultHtml = data.map(function (ev) {
                var neutral = typeof (ev.EmojiesCount.Neutral) !== 'undefined' ? ev.EmojiesCount.Neutral : 0;
                var happy = typeof (ev.EmojiesCount.Happy) !== 'undefined' ? ev.EmojiesCount.Happy : 0;
                var sad = typeof (ev.EmojiesCount.Sad) !== 'undefined' ? ev.EmojiesCount.Sad : 0;
                var evHtml = '<li id='+ev.Id+' class="open-event-qr mdl-list__item mdl-list__item--two-line">' +
                    '<span class="mdl-list__item-primary-content">' +
                    ' <i class="material-icons mdl-list__item-avatar">group</i>' +
                    '<span>' +
                    ev.Name +
                    '</span>' +
                    '<span class="mdl-list__item-sub-title">' +
                    ev.Tags.toString() + " - " + ev.Type +
                    '</span>' +
                    '</span>' +
                    '<span class="mdl-list__item-secondary-content" style="display:inline">' +
                    '<span class="material-icons mdl-badge mdl-badge--overlap" data-badge="' + happy +'">insert_emoticon</span>' +
                    '<span class="material-icons mdl-badge mdl-badge--overlap" data-badge="' + neutral +'">sentiment_neutral</span>' +
                    '<span class="material-icons mdl-badge mdl-badge--overlap" data-badge="' + sad+'">sentiment_very_dissatisfied</span>' +
                    '</span></li>';
                return evHtml;
            }).map(function(evHtml) {
                console.log(evHtml);
                $('.events-list').append($(evHtml));
            });

            });
        $(document).on('click', '.open-event-qr', function (e) {
            $("qr-container").remove('canvas').remove('img');
            var evId = $(e.target).closest('li').attr('id');
            new QRCode(document.getElementById("qr-container"), 'http://mentor-me-app.azurewebsites.net/feedback?participantId=592055cf4887bc3158d424ec&eventId='+evId);
            var dialog = document.querySelector('dialog');
            dialog.showModal();
        })
    })
</script>