﻿<style>
    .find-mentor-card.mdl-card {
        width: 100%;
    }
    .find-mentor-card > .mdl-card__title {
        color: #fff;
        height: 220px;
        background: url('http://hopeforwomenmag.com/wp-content/uploads/2014/11/1bb8566.jpg') center / cover;
    }
    .find-mentor-card > .mdl-card__menu {
        color: #fff;
    }

</style>

<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--2-col">


    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <div class="find-mentor-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              
            </div>
           
            <div class="mdl-card__actions mdl-card--border">
                <form>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="searchInput">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="searchInput">
                            <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                        </div>
                    </div>
                    
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="searchBtn" style="margin-top: 10px; float:right">
                        Find Mentor
                    </button>
                   
                </form>
            </div>
        </div>
        <br/>
        <div class="mdl-card mdl-shadow--2dp" style="width: 100%; display: none;" id="mentorsFoundCard">
            <div class="mdl-card__title" style="background-color: gray;color: white;">
                <h3 class="mdl-card__title-text">Results</h3>
            </div>
            <div class="mdl-card__supporting-text" style="width: 100%; padding: 0;">
                <ul class="mentors-found-card mdl-list">
                  
                </ul>
            </div>
        </div>
        <br/>
        <div class="mdl-card mdl-shadow--2dp" style="width:100%" id="suggestedMentorsCard">
            <div class="mdl-card__title" style="background-color: gray;color: white;">
                <h3 class="mdl-card__title-text">Suggested mentors</h3>
            </div>
           
            <div class="mdl-card__supporting-text" style="width: 100%; padding: 0;">
                <ul class="sugg-mentors-card events-list mdl-list">
               
                </ul>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col">


    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        $.ajax({
            method: 'GET',
            url: 'http://mentor-me.azurewebsites.net/profile/' + sessionStorage["ProfileId"] + '/sugesstions'
        }).done(function (data) {
            console.log(data);
            var myNode = document.getElementsByClassName("mentors-found-card")[0];
            while (myNode.firstChild) {
                myNode.removeChild(myNode.firstChild);
            }
            if (data.length === 0) {
                $('.sugg-mentors-card')
                    .append('<div class="mdl-card__supporting-text"><h3>No results were found :( </h3></div');
            }
            data.map(function(mentor) {
                var mentorHtml = ' <li class="mdl-list__item mdl-list__item--two-line" id=' +
                    mentor.Id +
                    '>' +
                    '<span class="mdl-list__item-primary-content">' +
                    ' <i class="material-icons mdl-list__item-avatar">school</i>' +
                    '<span>' +
                    mentor.Email +
                    '</span>' +
                    '<span class="mdl-list__item-sub-title">Reputation: ' +
                    mentor.Reputation +
                    '</span>' +
                    ' <span class="mdl-list__item-sub-title">' +
                    Object.keys(mentor.Tags).toString() +
                    '</span>' +
                    ' </span>' +
                    '<span class="mdl-list__item-secondary-content">' +
                    ' <button class="mentor-me-btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="'+mentor.Id+'" style="margin-top: 10px; float: right">' +
                    'Mentor Me' +
                    ' </button>' +
                    ' </span></li>';

                $('.sugg-mentors-card').append($(mentorHtml));

            });
        });

        $("#searchBtn").click(function (e) {
            e.preventDefault();
            var searchTag = $("#searchInput")[0].value;
            searchTag = searchTag.split(',')[0];
            $.ajax({
                method: 'GET',
                url: 'http://mentor-me.azurewebsites.net/profile/' + sessionStorage["ProfileId"] + '/search/' +
                    encodeURIComponent(searchTag) +
                    '/1'
            }).done(function (data) {
                var myNode = document.getElementsByClassName("mentors-found-card")[0];
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                $('#mentorsFoundCard').css('display', 'block');
                if (data.length === 0) {
                    $('.mentors-found-card').append('<div class="mdl-card__supporting-text"><h3>No results were found :( </h3></div');
                }
                data.sort(function(a, b) {
                    return b.Reputation - a.Reputation;
                }).map(function (mentor) {
                    var mentorHtml = ' <li class="mdl-list__item mdl-list__item--two-line" id=' +
                        mentor.Id +
                        '>' +
                        '<span class="mdl-list__item-primary-content">' +
                        ' <i class="material-icons mdl-list__item-avatar">school</i>' +
                        '<span>' +
                        mentor.Email +
                        '</span>' +
                        '<span class="mdl-list__item-sub-title">Reputation - ' +
                        mentor.Reputation +
                        '</span>' +
                        ' <span class="mdl-list__item-sub-title">' +
                        Object.keys(mentor.Tags).toString() +
                        '</span>' +
                        ' </span>' +
                        '<span class="mdl-list__item-secondary-content">' +
                        ' <button class="mentor-me-btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="'+mentor.Id+'" style="margin-top: 10px; float: right">' +
                        'Mentor Me' +
                        ' </button>' +
                        ' </span></li>';

                    $('.mentors-found-card').append($(mentorHtml));
                    
                });
            });
        });
    })

    $(document).on('click', '.mentor-me-btn', function (ev) {

        var menteeId = sessionStorage["ProfileId"];
        var mentorId = ev.target.id;
        var body = {
            MentorId: mentorId,
            Tag: $("#searchInput")[0].value
        };

        $.ajax({
            type: "POST",
            url: 'http://mentor-me.azurewebsites.net/profile/' + menteeId + '/mentorship/request',
            data: body
        }).done(function () {
            $(ev.target).html('Request made');
            $(ev.target).attr('disabled', 'disabled');
        });
    })
</script>