﻿<div id="mentor-container" class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
        <input type="hidden" id="mentorId" value="@ViewBag.MentorId"/>
    </div>

    <div class="mdl-cell mdl-cell--8-col">
        <div style="width:100%" class="mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title" style="background: url(http://www.turismmarket.com/wp-content/uploads/2013/03/networking.jpg) center / cover">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
                    <span class="mdl-color-text--white">A</span>
                </button>
               
            </div>
                 
            <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    <strong>Email:</strong>  Mentor email
                </a>
            </div>
        </div>
        <br/>
        <div class="mdl-card mdl-shadow--2dp" style="width: 100%">
            <div class="mdl-card__title" style="background-color: gray;color: white;">
                <h2 class="mdl-card__title-text">Open challenges</h2>
            </div>
            <ul class="take-up-chall mdl-list">
           
                </ul>
            <div class="mdl-card__menu">

            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
   
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var address = "http://mentor-me.azurewebsites.net/profile/".concat($("#mentorId").val(),
            "/challenges/",
            sessionStorage["ProfileId"]);

        $.ajax({
            method: 'GET',
            url: address
        }).done(function(data) {
            data.Challenges.map(function(ch) {
                console.log(ch);
                var chHtml = '<li class="mdl-list__item mdl-list__item--two-line">'
                   +' <span class="mdl-list__item-primary-content">'
                   + '<i class="material-icons mdl-list__item-avatar">person</i>'
                    + ' <span>' + ch.Tags.toString() + '- ' + ch.Type+' - Level '+ch.MinimumLevel+'</span>'
                    + '<span class="mdl-list__item-sub-title">' + ch.ChallengeText+'</span>'
                   +' </span>'
                   +' <span class="mdl-list__item-secondary-content">'
                   +' <a class="mdl-list__item-secondary-action" href="#"><button id="'+ch.Id+'" class="take-up-btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Take up</button></a>'
                   + '</span>'
                    + ' </li>';
                $('.take-up-chall').append($(chHtml));
            });
        });
        $(document).on('click','.take-up-btn',function(e) {
            console.log(e.target);
            var challengeId = e.target.id;
            var myId = sessionStorage["ProfileId"];
            var mentorId = $("#mentorId").val();
            $.ajax({
                method: 'POST',
                url:'http://mentor-me.azurewebsites.net/challenge/'+challengeId+'/takeup?menteeId='+myId+'&mentorId='+mentorId
            }).done(function(data) {
                $('#' + challengeId).closest('li').remove();
            });
        });
    })
</script>