﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - MentorMeWeb</title>

        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-blue.min.css">
    </head>
    <body>
        @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
