﻿@model MentorMe.App.Controllers.FeedbackModel

@{
}

<div id="feedbackForm" class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">

    </div>
    <div class="mdl-cell mdl-cell--8-col">
        <h2> Your feedback for the <b>@Model.EventName</b> event </h2>
        <br/>

        <p class="lead">
            This event was delivered by <b>@Model.Presenter</b> and had the follwing topics:
        </p>
        @foreach (var tag in @Model.Tags)
        {
            <span style="font-size: 1.1em" class="label label-primary">@tag</span>
        }

        <br/>
        <form class="form-horizontal">
            <fieldset>

                <div class="form-group">
                    <div class="col-lg-12" id="radioEmoji">
                        <div class="col-md-4 col-sm-4 col-xs-4 radio text-center">
                            <label class="checkbox text-center">
                                <input type="radio" name="emoji" id="emojiSad" value="Sad">
                                <span class="checkbox" style="padding-top: 30px">Sad</span>
                            </label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 radio text-center">
                            <label class="checkbox">
                                <input type="radio" name="emoji" id="emojiNeutral" value="Neutral">
                                <span class="checkbox" style="padding-top: 30px">Neutral</span>
                            </label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 radio text-center">
                            <label class="checkbox ">
                                <input type="radio" name="emoji" id="emojiHappy" value="Happy">
                                <span class="checkbox" style="padding-top: 30px">Happy</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <textarea class="form-control feedback-textarea" rows="3" id="textAreaFeedback" placeholder="Feedback"></textarea>
                </div>

            </fieldset>
        </form>
        <br/>
        <div class="form-group text-center">
            <button id="saveFeedbackBtn" class="btn btn-primary text-center">Submit</button>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#saveFeedbackBtn").click(function() {

            var feedback = $("#textAreaFeedback")[0].value;
            var feedbackEmoji = $("#radioEmoji input[type='radio']:checked").val();
            var fromProfileId = @Html.Raw(Json.Encode(Model.FromProfileId));
            var eventId =  @Html.Raw(Json.Encode(Model.EventId));

            var data = {
                "FromProfileId": fromProfileId,
                "EventId": eventId,
                "Text": feedback,
                "Emoji": feedbackEmoji
            };

            $.ajax({
                type: "POST",
                url: "http://mentor-me.azurewebsites.net/feedback",
                data: data
            }).done(function(response) {
                var html = '<div id="feedbackForm" class="mdl-grid">' +
                    '<div class="mdl-cell mdl-cell--2-col">' +
                    '</div>' +
                    '<div class="mdl-cell mdl-cell--8-col">' +
                    '<h2> Thank you for your feedback!' +
                    '</div>' +
                    '<div class="mdl-cell mdl-cell--2-col">' +
                    '</div>' +
                    '</div>';

                $("#feedbackForm").html(html);
            });
        });
    })
</script>