﻿<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
    <div class="mdl-card__title" style="background-color: gray;color: white;">
        <h2 class="mdl-card__title-text">Badges</h2>
    </div>
    <div style="display: inline; margin-top: 20px" id="badgeContainer">
        <span class="mdl-list__item-primary-content" style="margin-left: 20px; display:none">
            <img id="tt3" src="~/Content/Images/Shield.png" width="25px" />
            Bryan Cranston
        </span>
    </div>
  
    <div class="mdl-card__menu">

    </div>
</div>
<style>
    #preloadedImages {
        width: 0px;
        height: 0px;
        display: inline;
        background-image: url("~/Content/Images/Shield.png");
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var count = 0;
        $.ajax({
            method: 'GET',
            url: 'http://mentor-me.azurewebsites.net/profile/' + sessionStorage["ProfileId"]
        }).done(function(data) {
            data.BadgeStash.sort(function(a, b) {
                return b.Level - a.Level;
            }).map(function(badge) {
                console.log(badge);
                var badgeHtml = '<span id="badge' + count +'" class="mdl-list__item-primary-content" style="margin-left: 20px">' +
                    '<img  src="/Content/Images/Shield.png" width="25px" />' +
                    badge.Name +
                    '</span>' +
                    '<div class="mdl-tooltip" data-mdl-for="badge'+count+'">' +
                    badge.TypeDescription +
                '</div>';
                count++;
                $('#badgeContainer').append($(badgeHtml));
            });
        });
    })
</script>