﻿@model MentorMe.App.Controllers.Profile
<div style="width:100%" class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: url(http://www.turismmarket.com/wp-content/uploads/2013/03/networking.jpg) center / cover">
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
            <span class="mdl-color-text--white">@Model.ProfileEmail[0]</span>
        </button>
    </div>
                 
    <div class="mdl-card__actions mdl-card--border">
        <strong>Email:</strong>  @Model.ProfileEmail, @Model.ProfileId
    </div>
</div>
