﻿<div id="menteescontainer" style="display: none">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
        <div class="mdl-card__title" style="background-color: gray; color: white;">
            <h2 class="mdl-card__title-text">Mentees</h2>
        </div>
        <ul id="mentees" class="demo-list-icon mdl-list"></ul>
        <div class="mdl-card__menu">
        </div>
    </div>
</div>

<div style="display: none" id="templateMentee">
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>{{email}}.</span>
            <span class="mdl-list__item-sub-title">His reputation: {{reputation}}. Interesed by your {{searchedTag}} skills.</span>
        </span>
        <span class="mdl-list__item-secondary-content" style="display: inline">
            <span class="buttonHandHoverAccept2" data-mentor-id="{{mentorId}}" data-mentee-id="{{menteeId}}">Review Response</span>
        </span>
    </li>
</div>

<script>
    $(document).ready(function() {
        var lineTemplate = $("#templateMentee").html();
        $.ajax({
            type: "GET",
            url: "http://mentor-me.azurewebsites.net/profile/" + sessionStorage["ProfileId"]
        }).done(function(profile) {
            $.each(profile.Mentor.MyMentees, function(idx, el) {
                $.ajax({
                    type: "GET",
                    url: "http://mentor-me.azurewebsites.net/profile/" + el.MenteeId
                }).done(function(mentee) {
                    //console.log(mentee);

                    if (el.Status === 2) {
                        $("#menteescontainer").css('display', 'block');

                        var rendered = Mustache.render(lineTemplate, {
                            email: mentee.Email,
                            reputation: mentee.Reputation,
                            searchedTag: el.SearchedTag,
                            menteeId: el.MenteeId,
                            mentorId: el.MentorId
                        });

                        $("#mentees").append($(rendered));
                    }
                });
            });

            $(document).on("click", ".buttonHandHoverAccept2", function (e) {

                var mentorId = e.target.getAttribute('data-mentor-id');
                var menteeId = e.target.getAttribute('data-mentee-id');

                console.log(menteeId);
                console.log(mentorId);

                window.location = './Mentor/ReviewChallenge?mentorId=' + mentorId + '&menteeId=' + menteeId;
            });
        });
    });
</script>