﻿<script>
    (function() {
        debugger;
        var menteeId = sessionStorage.getItem('ProfileId');
        var challengeUrl = "http://mentor-me.azurewebsites.net/profile/" + menteeId;
        $.ajax({
                type: "GET",
                url: challengeUrl
            })
            .done(function(profileInfo) {
                var takenUpChallenges;
                var resolvedChallenges;

                //console.log('ResolvedChallengeIds');
                //console.log(profileInfo.ResolvedChallengeIds);
                //console.log('ChallengeTakenUpIds');
                //console.log(profileInfo.ChallengeTakenUpIds);

                var resolvedChallengeIds = profileInfo.ResolvedChallengeIds;
                var challengeTakenUpIds = profileInfo.ChallengeTakenUpIds;

                debugger;
                $.when(
                        $.ajax({
                            type: "POST",
                            url: "http://mentor-me.azurewebsites.net/challenge/retrieve/specific",
                            data:{ ids: resolvedChallengeIds }
                        })
                        .done(function(info) {
                            debugger;
                            resolvedChallenges = info;
                            //console.log('resolvedChallenges');
                            //console.log(resolvedChallenges);
                        }),
                        $.ajax({
                            type: "POST",
                            url: "http://mentor-me.azurewebsites.net/challenge/retrieve/specific",
                            data: { ids: challengeTakenUpIds }
                        })
                        .done(function(infor) {
                            debugger;
                            takenUpChallenges = infor;
                            //console.log('takenUpChallenges');
                            //console.log(takenUpChallenges);
                        }))
                    .then(function() {

                        debugger;
                        var htmlCompleted =
                            "<li class=\"mdl-list__item mdl-list__item--two-line\"><span class=\"mdl-list__item-primary-content\"><span class=\"mdl-list__item-sub-title\">Challenge {{challenge.ChallengeText}} with minimum level {{challenge.MinimumLevel}} is completed.</span></span></li>";
                        var htmlInProgress =
                            "<li class=\"mdl-list__item mdl-list__item--two-line\"><span class=\"mdl-list__item-primary-content\"><span class=\"mdl-list__item-sub-title\">Challenge {{challenge.ChallengeText}} with minimum level {{challenge.MinimumLevel}} is in progress.</span></span></li>" + '<button id="{{challenge.Id}}" class="resolve-btn mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Resolve</button>';

                        if (takenUpChallenges !== null && takenUpChallenges !== undefined)
                            takenUpChallenges.map(function(ch) {
                                var rendered = Mustache.render(htmlInProgress, { challenge: ch });
                                $("#menteeChallenges").append($(rendered));
                            });

                        if (resolvedChallenges !== null && resolvedChallenges !== undefined)
                            resolvedChallenges.map(function (ch) {
                                var rendered = Mustache.render(htmlCompleted, { challenge: ch });
                                $("#menteeChallenges").append($(rendered));
                            });
                        $('#menteechallengecontainer').css("display", "block");
                    });

            });
        $(document).on('click','.resolve-btn',function(e) {
            ////console.log(e.target);
            $('#challToResolveId').val(e.target.id);
            var dialog = document.querySelector('dialog');
            dialog.showModal();
        })
    })();
</script>
<input type="hidden" id="challToResolveId"/>
<div id="menteechallengecontainer" style="display: none">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
        <div class="mdl-card__title" style="background-color: gray; color: white;">
            <h2 class="mdl-card__title-text"> My challenges </h2>
        </div>
        <ul id="menteeChallenges" class="demo-list-icon mdl-list"></ul>
        <div class="mdl-card__menu">
        </div>
    </div>
</div>
<dialog class="mdl-dialog" style="width:50%">
    <h4 class="mdl-dialog__title">What's the response?</h4>
    <div class="mdl-dialog__content">
        <form>
            <div class="mdl-textfield mdl-js-textfield" style="width:100%">
                <textarea class="mdl-textfield__input" type="text" rows= "4" id="responseArea" ></textarea>
                <label class="mdl-textfield__label" for="responseArea">Response</label>
            </div>
        </form>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" id="submitForApprovalBtn">Submit for approval</button>
        <button type="button" class="mdl-button close">Cancel</button>
    </div>
</dialog>
<script type="text/javascript">
    $(document).ready(function() {
        $("#submitForApprovalBtn").click(function (e) {
            debugger;
            e.preventDefault();
            ////console.log($('#challToResolveId').val());
            $.ajax({
                method: 'POST',
                url: 'http://mentor-me.azurewebsites.net/challenge/' +
                    $('#challToResolveId').val() +
                    '/submitforreview',
                data: {
                    "Reply": $('#responseArea').val(),
                    "MenteeId": sessionStorage.getItem('ProfileId')
                }
            });
            var dialog = document.querySelector('dialog');
            dialog.close();
        });
    })
</script>