﻿<div id="mentorscontainer" style="display: none">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
        <div class="mdl-card__title" style="background-color: gray; color: white;">
            <h2 class="mdl-card__title-text">Mentors</h2>
        </div>
        <ul id="mentors" class="demo-list-icon mdl-list"></ul>
        <div class="mdl-card__menu">
        </div>
    </div>
</div>

<div style="display: none" id="templateMentor">
    <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>{{email}}.</span>
        </span>
        <span class="mdl-list__item-secondary-content" style="display: inline">
            <span class="buttonHandHover view-mentor-profile" data-mentor-id="{{mentorId}}">View profile</span>
        </span>
    </li>
</div>


<script>
    $(document).ready(function() {
        var lineTemplate = $("#templateMentor").html();
        $.ajax({
            type: "GET",
            url: "http://mentor-me.azurewebsites.net/profile/" + sessionStorage["ProfileId"]
        }).done(function(profile) {
            $.each(profile.Mentee.MyMentors, function(idx, el) {
                $.ajax({
                    type: "GET",
                    url: "http://mentor-me.azurewebsites.net/profile/" + el.MentorId
                }).done(function(mentor) {
                    console.log(mentor);
                    $("#mentorscontainer").css('display', 'block');

                    var rendered = Mustache.render(lineTemplate, { email: mentor.Email, mentorId: el.MentorId });
                    $("#mentors").append($(rendered));
                });
            });
        });
        $(document).on('click', '.view-mentor-profile', function (e) {
            window.location="./Mentor?id=" + $(e.target).attr('data-mentor-id');
        })
    });
</script>