﻿@model MentorMe.App.Controllers.Profile

<div class="mdl-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Reputation: @Model.Reputation.ToString("0.#")</h2>
    </div>
    <div class="mdl-card__supporting-text">
        @foreach (KeyValuePair<string, decimal> tag in @Model.Tags)
        {
            <span class="mdl-chip mdl-chip--contact">
                <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">@tag.Value.ToString("0.#")</span>
                <span class="mdl-chip__text">@tag.Key</span>
            </span>
        }
    </div>
</div>