﻿@model MentorMe.App.Controllers.Profile
<div id="menteespendingcontainer" style="display: none">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
        <div class="mdl-card__title" style="background-color: gray;color: white;">
            <h2 class="mdl-card__title-text">Request for mentorship:</h2>
        </div>
        <ul id="menteespending" class="demo-list-icon mdl-list"></ul>
        <div class="mdl-card__menu">
        </div>
    </div>
</div>

<div style="display: none" id="template">
    <li id="elem-{{request.MenteeId}}" class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>Request from {{profile.Email}}.</span>
            <span class="mdl-list__item-sub-title">His reputation: {{profile.Reputation}}. Interesed by your {{request.SearchedTag}} skills.</span>
        </span> 
        <span class="mdl-list__item-secondary-content" style="display: inline">
            <span class="buttonHandHoverAccept" data-menteeId="{{request.MenteeId}}" data-mentorId="{{request.MentorId}}">Accept</span> | 
            <span class="buttonHandHoverDecline" data-menteeId="{{request.MenteeId}}" data-mentorId="{{request.MentorId}}">Reject</span> 
        </span>
    </li>
</div>

<script>
    $(document).ready(function() {
        var lineTemplate = $("#template").html();
        $.ajax({
            type: "GET",
            url: "http://mentor-me.azurewebsites.net/profile/" + sessionStorage["ProfileId"] + "/mentorship/menteespending"
        }).done(function(requests) {
            $.each(requests, function(idx, el) {
                $("#menteespendingcontainer").css('display', 'block');
                $.ajax({
                    type: "GET",
                    url: "http://mentor-me.azurewebsites.net/profile/" + el.MenteeId
                }).done(function (profileOfPossibleMentee) {
                    //console.log(el);
                    var rendered = Mustache.render(lineTemplate, { profile: profileOfPossibleMentee, request: el });
                    $("#menteespending").append($(rendered));

                    $(document).on("click", ".buttonHandHoverAccept", function (e) {

                        var menteeId = e.target.getAttribute('data-menteeId');
                        var mentorId = e.target.getAttribute('data-mentorId');

                        var body = {
                            "MenteeId": menteeId,
                            "Status": 2,
                            "RejectionReason": ""
                        };

                        $.ajax({
                            type: "POST",
                            url: 'http://mentor-me.azurewebsites.net/profile/' + mentorId + '/mentorship/response',
                            data: body
                        }).done(function() {
                            $("#" + ('elem-' + menteeId)).css('display', 'none');
                        });
                    });

                    $(document).on("click", ".buttonHandHoverDecline", function (e) {

                        var menteeId = e.target.getAttribute('data-menteeId');
                        var mentorId = e.target.getAttribute('data-mentorId');

                        var body = {
                            "MenteeId": menteeId,
                            "Status": 3,
                            "RejectionReason": "Decline"
                        };

                        $.ajax({
                            type: "POST",
                            url: 'http://mentor-me.azurewebsites.net/profile/' + mentorId + '/mentorship/response',
                            data: body
                        }).done(function () {
                            $("#" + ('elem-' + menteeId)).css('display', 'none');
                        });
                    });
                });
            });
        });
    });
</script>