﻿<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
    </div>

    <div class="mdl-cell mdl-cell--8-col">
        <div id="cities" class="mdl-grid">
        </div>
    </div>
    <div class="mdl-cell mdl-cell--2-col">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        var feedbacks = {
            "Iasi": {
                "Happy": 143,
                "Neutral": 110,
                "Sad": 1
            },
            "Cluj": {
                "Happy": 100,
                "Neutral": 12,
                "Sad": 15
            },
            "Bucuresti": {
                "Happy": 452,
                "Neutral": 142,
                "Sad": 135
            },
            "Timisoara": {
                "Happy": 352,
                "Neutral": 142,
                "Sad": 135
            }
        };

        $.each(feedbacks, function(key, el) {

            $("#cities").append("<div class='mdl-cell mdl-cell--2-col' id=" + key + "></div>");

            google.charts.load(key, { packages: ["corechart"] });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Work', 11],
                    ['Eat', 2]
                ]);

                var options = {
                    title: 'My Daily Activities',
                    pieHole: 0.4
                };

                var chart = new google.visualization.PieChart(document.getElementById('#' + key));
                chart.draw(data, options);

            }
        });


    });
</script>