﻿<style>
    .demo-card-wide.mdl-card {
        width: 100%;
    }
    
    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }
</style>
<div class="mdl-grid">
 
    <div class="mdl-cell mdl-cell--2-col">
        
    </div>
    <div class="mdl-cell mdl-cell--3-col">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title" style="background-color: gray;color: white;">
                <h2 class="mdl-card__title-text">Create Event</h2>
            </div>
            <form action="#" id="saveEvent" onsubmit="saveEvent()">
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="eventName">
                        <label class="mdl-textfield__label" for="eventName">Name</label>
                    </div>
                    <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">
                        <select id="eventType" class="mdl-selectfield__select">
                            <option value=""></option>
                            <option value="Presentation">Presentation</option>
                            <option value="Workshop">Workshop</option>
                            <option value="Classroom">Classroom</option>
                        </select>
                        <label class="mdl-selectfield__label" for="gender">Event type</label>
                        <span class="mdl-selectfield__error">Select a value</span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="eventTag">
                        <label class="mdl-textfield__label" for="eventTag">Tag</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="location" />
                        <label class="mdl-textfield__label" for="location">Location</label>
                    </div>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                    <a class="saveEventBtn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                        Save
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--5-col">
        @Html.Partial("EditorTemplates/EventList")
    </div>
    <div class="mdl-cell mdl-cell--2-col">

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
       
        $(".saveEventBtn").click(function() {
            var eventName = $("#eventName")[0].value;
            var eventType = $("#eventType")[0].value;
            var eventLocation = $("#location")[0].value;
            var eventTag = $("#eventTag")[0].value.split(',');
            var data = {
                "Name": eventName,
                "Type": eventType,
                "Tags": eventTag,
                "Location": eventLocation,
                "PresenterId": sessionStorage["ProfileId"]
            }
            $.ajax({
                type: "POST",
                url: "http://mentor-me.azurewebsites.net/event",
                data: data
            }).done(function() {
                var evHtml = '<li class="mdl-list__item mdl-list__item--two-line">' +
                    '<span class="mdl-list__item-primary-content">' +
                    ' <i class="material-icons mdl-list__item-avatar">group</i>' +
                    '<span>' +
                    eventName +
                    '</span>' +
                    '<span class="mdl-list__item-sub-title">' +
                    eventTag.toString() + " - " + eventType +
                    '</span>' +
                    '</span>' +
                    '<span class="mdl-list__item-secondary-content" style="display:inline">' +
                    '<span class="material-icons mdl-badge mdl-badge--overlap" data-badge="' + 0 + '">insert_emoticon</span>' +
                    '<span class="material-icons mdl-badge mdl-badge--overlap" data-badge="' + 0 + '">sentiment_neutral</span>' +
                    '<span class="material-icons mdl-badge mdl-badge--overlap" data-badge="' + 0 + '">sentiment_very_dissatisfied</span>' +
                    '</span></li>';
         
                $('.events-list').append($(evHtml));
            });
        });
    })
    function SaveEvent() {
        console.log("save event");
    }
</script>