﻿<!-- Square card -->
<style>
    .demo-card-square.mdl-card {
        width: 320px;
        height: 320px;
    }

    .demo-card-square > .mdl-card__title {
        color: #fff;
        background: url("/mentorme-app/Content/Images/challenge_accepted.png") bottom right 15% no-repeat #46B6AC;
    }
</style>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">

    </div>

    <div class="mdl-cell mdl-cell--8-col" id="createChallangeContainer">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%">
            <div class="mdl-card__title" style="background-color: gray;color: white;">
                <h2 class="mdl-card__title-text">Create Challenge</h2>
            </div>
            <form action="#" id="saveEvent" onsubmit="saveChallenge()">
                <div class="mdl-card__supporting-text">
                    <div class="mdl-grid">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                            <textarea class="mdl-textfield__input" type="text" rows="6" id="challengetext"></textarea>
                            <label class="mdl-textfield__label" for="challengetext">Insert description</label>
                        </div>
                        </div>
                        <div class="mdl-grid">
                            <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label  mdl-cell mdl-cell--2-col">
                                <select id="challengeType" class="mdl-selectfield__select">
                                    <option value=""></option>
                                    <option value="Code review">Code review</option>
                                    <option value="Read a book">Read a book</option>
                                    <option value="Tech talk">Tech talk</option>
                                    <option value="Tech classroom">Tech classroom</option>
                                </select>
                                <label class="mdl-selectfield__label">Select challenge type</label>
                                <span class="mdl-selectfield__error">Select a value</span>
                            </div>
                            
                            <div class="mdl-cell mdl-cell--1-col">

                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  mdl-cell mdl-cell--2-col">
                                <input class="mdl-textfield__input" type="text" id="challengeMinimumLevel">
                                <label class="mdl-textfield__label" for="challengeMinimumLevel">Minimum level</label>

                            </div>
                            
                            <div class="mdl-cell mdl-cell--1-col">

                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  mdl-cell mdl-cell--2-col">
                                <input class="mdl-textfield__input" type="text" id="challengeTag">
                                <label class="mdl-textfield__label" for="challengeTag">Tags</label>
                            </div>
                            
                            <div class="mdl-cell mdl-cell--1-col">

                            </div>
                            
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label  mdl-cell mdl-cell--2-col">
                                <input class="mdl-textfield__input" type="text" id="difficulty">
                                <label class="mdl-textfield__label" for="difficulty">Difficulty (%) - Maximum of 10p</label>
                            </div>

                            <div class="mdl-cell mdl-cell--1-col">

                            </div>
                        </div>
                    </div>

                <div id="sendchallenge" class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                        Save
                    </a>
                </div>

            </form>
        </div>
    </div>
    </div>

    <script>
        $('#sendchallenge').click(function () {
            var challengeText = $("#challengetext").val();
            var challengeType = $("#challengeType").val();
            var challengeMinimumLevel = $("#challengeMinimumLevel").val();
            var challengeTag = $("#challengeTag")[0].value.split(',');
            var difficulty = $("#difficulty")[0].value;
            var addedBy = sessionStorage.getItem('ProfileId');

            var data = {
                ChallengeText: challengeText,
                Type: challengeType,
                MinimumLevel: challengeMinimumLevel,
                Tags: challengeTag,
                AddedByMentor: addedBy,
                Difficulty: difficulty
            }

            var addressToPost = "http://mentor-me.azurewebsites.net/challenge/" + addedBy;

            $.ajax({
                type: "POST",
                url: addressToPost,
                data: data
            }).done(function (response) {
                $("#createChallangeContainer").html("Thank you for creating the challange! [" + response + "]");
            });
        });
    </script>
